<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elonsoft.structurerole.system.mapper.FileMapper">

    <insert id="insertAttachFile" parameterType="map">
        /* FileMapper - insertAttachFile */
        INSERT
        INTO ATTACH_FILE
        ( ID
        , NAME
        , PATH
        , CAPACITY
        , EXTENSION
        , CREATED_DATE_TIME
        , CREATOR )
        VALUES
        ( #{file.id}
        , #{file.name}
        , #{file.path}
        , #{file.capacity}
        , #{file.extension}
        , SYSTIMESTAMP
        , #{session.userId} )
    </insert>

    <select id="selectAttachFile" parameterType="string" resultType="attachFile">
        /* FileMapper - selectAttachFile */
        SELECT ID                  AS id
        , NAME                AS name
        , PATH                AS path
        , CAPACITY            AS capacity
        , EXTENSION           AS extension
        FROM ATTACH_FILE
        WHERE ID = #{fileId}
    </select>

    <delete id="deleteAttachFile" parameterType="string">
        /* FileMapper - deleteAttachFile */
        DELETE
        FROM ATTACH_FILE
        WHERE ID = #{fileId}
    </delete>

    <delete id="deleteAttachFileGroupByFileId" parameterType="string">
        /* FileMapper - deleteAttachFileGroupByFileId */
        DELETE
        FROM ATTACH_FILE_GROUP
        WHERE ATTACH_FILE_ID = #{fileId}
    </delete>

    <select id="selectAttachFiles" parameterType="string" resultType="attachFile">
        /* FileMapper - selectAttachFiles */
        SELECT AF.ID                  AS id
             , AF.NAME                AS name
             , AF.PATH                AS path
             , AF.CAPACITY            AS capacity
             , AF.EXTENSION           AS extension
          FROM ATTACH_FILE AF
         INNER JOIN ATTACH_FILE_GROUP AFG
            ON AF.ID = AFG.ATTACH_FILE_ID
         WHERE AFG.ENTITY_ID = #{entityId}
    </select>

    <insert id="insertAttachFileGroup" parameterType="map">
        INSERT
          INTO ATTACH_FILE_GROUP
               (
                 ID
               , ENTITY_ID
               , ATTACH_FILE_ID
               , CREATED_DATE_TIME
               , CREATOR
               )
        VALUES (
                 #{fileGroup.id}
               , #{fileGroup.entityId}
               , #{fileGroup.attachFileId}
               , SYSTIMESTAMP
               , #{session.userId}
               )
    </insert>

    <delete id="deleteAttachFileGroupByEntityId" parameterType="string">
        /* FileMapper - deleteAttachFileGroupByEntityId */
        DELETE
        FROM ATTACH_FILE_GROUP
        WHERE ENTITY_ID = #{entityId}
    </delete>
</mapper>